.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 28px;
  justify-content: space-between;
}

.navigationButtons {
  padding: 0 40px 20px;
  display: flex;
  justify-content: space-between;
}
