.container {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 10px;
  background-color: white;
}

.title {
  background-color: #757575;
  color: var(--c-white);
  padding: 4px;
}

.actionTitle {
  display: flex;
  justify-content: space-between;
  padding: 0 4px;
  background-color: var(--c-orange);
  color: var(--c-white);
}

.buttonContainer {
  padding: 0 40px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
